
body {
    background: linear-gradient(35deg, #ccffff, #ffcccc);
}
#container {
    position: relative;
    width: 85vw;
    height: 30vw;
    margin: 0 auto;
    background-color: whitesmoke;
    outline: 1px solid #4834D4;
    display: grid;
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    /* grid-auto-columns: ;
    grid-auto-rows: 100px;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 0px; /* short cut for grid-row-gap and grid-column-gap */
    /*align-items: stretch;
    justify-items: stretch; */
    place-items: stretch stretch; /* shortcut for align-items and justify-items */

    /* align-content: ;
    justify-content: ; */
    place-content: stretch; /* shortcut for align-content and justify-content */
    grid: auto-flow 100px / repeat(3, 1fr);
    }
#container2 {
    position: relative;
    width: 85vw;
    height: 30vw;
    margin: 0 auto;
    background-color: pink;
    text-align: center;
    outline: 1px solid #4834D4;
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    grid-template-rows: 60px auto 100px;
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer"; */
    grid-template: 
    "header header header" 60px
    "main main sidebar" auto 
    "footer footer footer" 100px
    /[col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
}
.header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9D423;
    color: #222;
    font-size: 2em;
    box-shadow: 1px 2px 5px black;
    border-width: .5px;
    border-style: solid;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.item:hover {
    transition: all 0.1s linear;
    color: #FFF;
}
.one {
    /* grid-column-start: 1;
    grid-column-end: span 1; */
    grid-column: 1 / 4;
}
.two {
    /* grid-row-start: 2;
    grid-row-end: 5; */
    grid-row: 2 / 5;
}
.three {

}
.four {

}
.five {
    /* align-self: center;
    justify-self: end; */
    place-self: center stretch;
}
.six {
    grid-area: 3 / 3 / 5 / 4;
}
.seven {
    /* grid-column: 10/11; */
}