
body {
    background: linear-gradient(35deg, #ccffff, #ffcccc);
}
#container {
    position: relative;
    width: 95vw;
    height: 60vw;
    margin: 0 auto;
    background-color: palevioletred;
    text-align: center;
    outline: 1px solid #4834D4;
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end]; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-auto-columns: ;
    grid-auto-rows: 50px;
    /* grid-auto-flow: row;
    grid-row-gap: 10px;
    grid-column-gap: 10px; */
    grid-gap: 10px; /* short cut for grid-row-gap and grid-column-gap */
    /*align-items: stretch;
    justify-items: stretch; */
    place-items: stretch stretch; /* shortcut for align-items and justify-items */

    align-content: ;
    justify-content: ;
    place-content: ;
    }
.item {
    background-color: skyblue;
    box-shadow: 1px 2px 5px black;
    border-width: .5px;
    border-style: solid;
    border-radius: 8px;
    opacity: none;
}
.one {

}
.two {

}
.three {

}
.four {

}
.five {

}
.six {

}
.seven {
    /* grid-column: 10/11; */
}