
body {
  margin: 0px;
}

#main {
  display: flex;
  border-radius: 2px;
  border: 1px solid;
  background: paleturquoise;
}

.links {
  display: flex;
  flex-direction: column;
  width: 33.333%;
}

.pics {
  width: 33.333%;
}

img {
  width: 150px;
  height: 150px;
}

#nav-bar {
  /* display: flex; */
  background: pink;
  font-family: arial;
  justify-content: space-around;
  font-size: 14px;
}
.nav-left {
  background: rgb(116, 26, 41);
  margin: 2px;
  flex: 1;
}
.nav-center {
  font-size: 24px;
  margin: 2px;
  text-align: center;
  background: lightcyan;
  flex: 3;
}

.nav-right {
  background: lightgreen;
  margin: 2px;
  flex: 1;
}

.nav-right > ul {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-left: 20px;
}

#strong-women {
  text-align: center;
}

@media (min-width: 412px) { 
    #nav-bar {
      display: flex;
    }
    .nav-right > ul {
      display: flex;
    }
}