body {
    font-family: sans-serif, monospace;
    background-color: rgb(200, 218, 212);
    border-width: 1px;
    border-style: solid;
    color: green;
}
p {
    text-align: justify;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-width: 3px;
    border-style: outset;
    color: black;
    width: 45%;
}
h1{
    text-decoration: underline;
    background-color: rgba(45, 45, 45, 0.1);
    width: 45%;
}