body {
    font-family: sans-serif, monospace;
    background-color: rgb(200, 218, 212);
    border-width: 1px;
    border-style: solid;
    color: green;
}
p {
    text-align: justify;
    border-width: 3px;
    border-style: outset;
    color: black;
}