body {
    background-color: rgb(220, 236, 238);
}
a {
    color: #000;
}
a:hover {
    color: blue;
}
h1 {
    position: relative;
    width: 50%;
    background-color: rgb(172, 153, 171);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}
div {
    color: #fff;
}
#left {
    float: left;
    width: 50%;
}
#right {
    float: right;
    width: 30%;
}
aside, section {
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    background-color: #CCC;
}