body {
    background-color: linear-gradient(35deg, #2e6363, #FFCCCC, rgb(117, 36, 36));
}
a {
    color: #000;
    background-color: hsl(310, 3%, 70%);
}
a:hover {
    color: blue;
}
h1 {
    position: relative;
    margin: auto;
    width: 50%;
    background-color: rgb(172, 153, 171);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}
.box {
    width: 20%;
    height: 200px;
    margin-top: 150px;
    background: repeating-linear-gradient(
      45deg,
      yellow 0px,
      red 40px,
      black 40px,
      black 80px
    );
  }

  .first {
    background-color: red;
    position: absolute;
    float: left;
    transform: skewX(25deg);
    left: 100px;
    top: 50px;
  }
  .second {
    background-color: blue;
    position: absolute;
    transform: skewX(-25deg);
    left: 110px;
    top: 50px;
    float: left;
    z-index: 1;
  }
#left {
    float: left;
    width: 50%;
}
#right {
    float: right;
    width: 30%;
}
aside, section {
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    background-color: #CCC;
}
.kbox {
    position: absolute;
    bottom: 25px;
    left: 200px;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    height: 150px;
    background-color: cyan;
}
.kbox::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 150px;
    bottom: 50px;
    left: 100px;
    background-color: blue;
}