#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* background: linear-gradient(35deg, #ccffff,  beige); */
  justify-content: center;
}
#title {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align: center;
}
#img-div {
  margin: 10px;
  align-self: center;
  }
#image {
    width: 75vw;
    height: 60vh;
    align-self: center;
}
#timeline {
  width: 90vw;
  align-self: center;
  margin: 0 1000px 0 1000px;
}
#quote {
  width: 90vw;
  align-self: center;
  font-size: 10px;
  line-height: 1.6px;
  font-style: italic;
  text-align: center;
}
