#container {
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: #c9a239;
    border: 2px solid black;
}
#title {
}
#description {
}
#survey-form {
}
#survey-form2 {
}
#survey-form input {
}
#survey-form label {
}
#name {

}
#email {

}
#number {

}
#name-label {

}
#email-label {

}
#number-label {

}
#dropdown {

}
#submit {

}