#container {
    display: flex;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    margin: auto;
    padding: 0px;
    width: 55%;
    flex-direction: column;
    border: .5px solid black;
}
#title {
    border: 1px solid black;
    align-self: center;
    text-align: center;
}
#description {
}
#survey-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
#survey-form2 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
#survey-form input {
    flex: 1;
}
#survey-form label {
}
#name {

}
#email {

}
#number {

}
#name-label {

}
#email-label {

}
#number-label {

}
#dropdown {

}
#submit {

}